<html>
    <head>
        <title>Simone's blog</title>
    </head>
    <body>
      <h1>Welcome to my first blog!</h1>
      <h2>Supercool, hmm??</h2>
        <p>Hi there!</p>
        <p>It works!</p>
        <p>Cotton candy soufflé jelly-o gingerbread jelly macaroon dragée marshmallow. Pie pastry candy gingerbread sweet roll gingerbread tart wafer gingerbread. Chupa chups danish pudding cookie cheesecake tootsie roll. Cake apple pie sesame snaps tootsie roll lollipop jujubes. Cheesecake cupcake pastry bonbon marzipan cupcake chocolate cake carrot cake. Cheesecake wafer pastry bonbon. Dessert dessert cake. Wafer jelly beans lollipop icing cake pie gummies icing oat cake. Candy chocolate cake croissant toffee topping soufflé icing cupcake marzipan.</p>
        <div><a href="https://djangogirls.org">link</a></div>
        <br />
      <h1>ODER SO KÖNNT MAN'S AUCH MACHEN, HAT HALT JEDER... </h1>
      <title>Django Girls blog</title>
</head>
<body>
 <div>
     <h1><a href="">Django Girls Blog</a></h1>
 </div>

 <div>
     <p>published: 14.06.2014, 12:14</p>
     <h2><a href="">My first post</a></h2>
     <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 </div>

 <div>
     <p>published: 14.06.2014, 12:14</p>
     <h2><a href="">My second post</a></h2>
     <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
 </div> 

    </body>
</html>
