{% load staticfiles %}
<html>
    <head>
        <title>Simone's blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <h1><a>Welcome to my first blog!</a></h1>
      <h2>Supercool, hmm??</h2>
        <p>Hi there!</p>
        <p>It works!</p>
        <p>Cotton candy soufflé jelly-o gingerbread jelly macaroon dragée marshmallow. Pie pastry candy gingerbread sweet roll gingerbread tart wafer gingerbread. Chupa chups danish pudding cookie cheesecake tootsie roll. Cake apple pie sesame snaps tootsie roll lollipop jujubes. Cheesecake cupcake pastry bonbon marzipan cupcake chocolate cake carrot cake. Cheesecake wafer pastry bonbon. Dessert dessert cake. Wafer jelly beans lollipop icing cake pie gummies icing oat cake. Candy chocolate cake croissant toffee topping soufflé icing cupcake marzipan.</p>
        <div><a href="https://djangogirls.org">link</a></div>
        <br />
      <h1>ODER SO KÖNNT MAN'S AUCH MACHEN, HAT HALT JEDER... </h1>
      <title>Django Girls blog</title>
</head>
<body>
 <div class="page-header">
     <h1><a href="">Django Girls Blog</a></h1>
 </div>

 <div class="content container">
     <div class="row">
         <div class="col-md-8">
             {% for post in posts %}
                 <div class="post">
                     <div class="date">
                         <p>published: {{ post.published_date }}</p>
                     </div>
                     <h1><a href="">{{ post.title }}</a></h1>
                     <p>{{ post.text|linebreaksbr }}</p>
                 </div>
             {% endfor %}
         </div>
     </div>
 </div>

 <div>
     {{ posts }}
 </div>

    </body>
</html>
